@import url('https://fonts.googleapis.com/css?family=Roboto');

/* BASIC PAGE SETUP */

html {
    font-family: 'Roboto', sans-serif;
}

body {
    padding-top: 70px;
    padding-bottom: 0;
    margin: 0;
}


/* SETUP BASIC PAGE ELEMENTS */

.FourQL_contentwrap,
.FourQL_headerwrap,
.FourQL_footerwrap {
    padding: 0;
    width: 1280px;
    background: transparent;
}

.FourQL_headerwrap,
.FourQL_footerwrap {
    padding: 10px 0px;
    margin: 0px auto;
    position: relative;
}

.FourQL_contentwrap {
    margin: 0px auto;
    margin-top: 65px;
}

header,
footer {
    clear: both;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    height: 120px;
    z-index: 10;
    transition: all ease-in-out 0.2s;
}

#ControlBar_ControlPanel ~ div header {
	top: 55px;
}
#ControlBar_ControlPanel ~ div .FourQL_contentwrap {
	margin-top: 120px;
}

header.headerSmall {
    height: 40px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
}

footer {
    min-height: 90px;
}

footer .FourQL_footerInner {
    padding: 15px;
    font-family: 'Roboto';
    
}

footer .FourQL_footerInner a{
    color:black;
    text-decoration: none;
}

footer .FourQL_footerInner ,fourQL_login{
    text-transform: uppercase;    
}


/* for 1280px or less */

@media screen and (max-width: 1280px) {
    .FourQL_contentwrap {
        width: 100%;
        padding: 0;
        width: auto;
    }
    .FourQL_headerwrap,
    .FourQL_footerwrap {
        width: auto;
    }
}


/* for 800px or less */

@media screen and (max-width: 800px) {}


/* for 600px or less */

@media screen and (max-width: 600px) {}


/* TITLE SETUP GENERAL*/

header .FourQL_headerwrap h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 95px;
    text-transform: uppercase;
    margin: 0 15px;
    line-height: 80px;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: -3px;
    transition: ease-in-out 0.1s;
}

header .FourQL_headerwrap h1 small {
    font-size: 20px;
    text-transform: none;
    position: relative;
    line-height: 15px;
    top: -55px;
    left: -15px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    letter-spacing: 0;
}

header .FourQL_headerwrap p {
    margin: 0;
    line-height: 20px;
    font-style: italic;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
    margin-left: 130px;
    transition: ease-in-out 0.1s;
}


/* TITLE SETUP SMALL*/

header.headerSmall .FourQL_headerwrap h1 {
    font-size: 35px;
    text-transform: uppercase;
    margin: 0;
    margin-left: 15px;
    line-height: 20px;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: -3px;
}

header.headerSmall .FourQL_headerwrap h1 small {
    font-size: 12px;
    text-transform: none;
    position: relative;
    line-height: 10px;
    top: -20px;
    left: 0px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    letter-spacing: 0;
}

header.headerSmall .FourQL_headerwrap p {
    font-size: 12px;
    margin: 0;
    line-height: 10px;
    margin-left: 75px;
    margin-top: -4px;
}