/* COLOURS - BASIC PAGE SETUP */

body {
    background-color: #4f6384;
    background-image: -webkit-radial-gradient(circle farthest-corner at 104% 15%, #a7afb9, transparent);
    background-image: radial-gradient(circle farthest-corner at 104% 15%, #a7afb9, transparent);
}

header,
footer {

}

header.headerSmall,
footer {
   background-color: #4f6384;
}

/* TITLE SETUP */

.FourQL_headerwrap h1, .FourQL_headerwrap h1 small, .FourQL_headerwrap p {
    color: white;
}

/* MENU SETUP */

nav.FourQL_menu .FourQL_menuActivate{
    background-color: #4f6384;
    color:white;
}

/* MODULE BACKGROUNDS */

.FourQL_ColumnInner {

}