/* GENERAL/LARGER THAN 1280px */

.FourQL_LeftColumn,
.FourQL_MiddleColumn,
.FourQL_RightColumn,
.FourQL_FullWidth {
    float: left;
    width: 33.33333333%;
}

.FourQL_TwoColumnLeft.sidebar {
    float: left;
    position: relative;
    right: 70%;
    width: 29%;
    margin-bottom: 1%;
}

.FourQL_TwoColumnRight.sidebar {
    float: left;
    width: 29%;
    margin-left: 1%;
    margin-bottom: 1%;
}

.FourQL_TwoColumnLeft.Main {
    float: left;
    width: 70%;
    margin-bottom: 1%;
    clear: both;
}

.FourQL_TwoColumnRight.Main {
    float: left;
    width: 70%;
    position: relative;
    left: 30%;
    margin-bottom: 1%;
    clear: both;
}

.FourQL_ColumnInner {
    margin: 15px;
    padding:5px 15px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    background-color: white;
}

.FourQL_FullWidth {
    width: 100%;
    clear: both;
}

.FourQL_FullWidthHome{
    height:600px;
    margin-top: -150px;
    background-position: center center;
    background-size: cover;
    background-image: url('./images/HomeBackground.jpg');
}

.FourQL_FullWidthHome .MainSlogan{
   color:white;
   font-weight:bold;
   text-align: center;
   padding-top: 450px;
   font-size: 45px;
   text-shadow: 3px 3px 9px rgba(0,0,0,0.5);
    width:90%;
   margin: 0 auto;
}


/* for 800px or less */

@media screen and (max-width: 800px) {
    .FourQL_LeftColumn,
    .FourQL_MiddleColumn {
        width: 50%;
    }
    .FourQL_RightColumn {
        width: 100%;
    }
    .FourQL_TwoColumnLeft.sidebar {
        width: 100%;
        position: initial;
    }
    .FourQL_TwoColumnRight.sidebar {
        width: 100%;
        margin-left: 0;
    }
    .FourQL_TwoColumnLeft.Main {
        width: 100%;
    }
    .FourQL_TwoColumnRight.Main {
        width: 100%;
        position: initial;
    }
}


/* for 600px or less */

@media screen and (max-width: 600px) {
    .FourQL_LeftColumn,
    .FourQL_MiddleColumn,
    .FourQL_RightColumn {
        width: 100%;
    }
    .FourQL_TwoColumnLeft {
        float: left;
        width: 100%
    }
    .FourQL_TwoColumnRight {
        float: left;
        width: 100%
    }
    .FourQL_TwoColumnLeft.Main {
        width: 100%
    }
    .FourQL_TwoColumnRight.Main {
        width: 100%
    }
    .FourQL_FullWidthHome{
    height:400px;
}
.FourQL_FullWidthHome .MainSlogan{
   padding-top: 250px;
   font-size: 35px;
}
}