/* LAYOUT OF MENU */

nav.FourQL_menu {
    position: absolute;
    right: 0;
    top: 11px;
    text-align: right;
}

nav.FourQL_menu .FourQL_menuActivate {
    padding: 15px 15px 12px 15px;
    display: inline;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

/* SUB MENU STYLES */
/* ALL LEVELS */

nav.FourQL_menu ul{
    text-align: left;
}

nav.FourQL_menu ul li > a{
  cursor: pointer;
  font-size: 16px;
  line-height: 32px;
  padding-left: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color:black;
}


nav.FourQL_menu ul li a.submenu:after{
    content:  "▼";
    display: inline-block;
    transform: rotate(-90deg);
    margin-left:5px;
    font-size:11px;
    transition: ease-in-out 0.3s;
}
nav.FourQL_menu ul li a.submenu.open:after{
    transform: rotate(0deg);
}

/* FIRST LEVEL */

nav.FourQL_menu ul {
    width:300px;
    list-style-type: none;
    padding-right: 10px;
    padding-left: 5px;
    background-color: white;
    margin-top: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
    transition: ease-in-out 0.3s;
    opacity: 0;
}
nav.FourQL_menu ul.shown {
    opacity: 1;
}


/* SECOND LEVEL */

nav.FourQL_menu ul li ul {
    border-top:grey solid 1px;
    border-bottom:lightgray solid 1px;
    box-shadow: none;
    box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.2);
    /*counter act padding above */
    padding-left: 5px;
    padding-right: 10px;
    margin-top: 0px;
    margin-left: -5px;
    margin-right: -10px;
    background-color: #e0e0e0;
    display:none;
}

nav.FourQL_menu ul li ul.active {
    box-shadow: none;
    /*counter act padding above */
    padding-left: 5px;
    padding-right: 10px;
    margin-top: 0px;
    margin-left: -5px;
    margin-right: -10px;
    background-color: #e0e0e0;
    display:block
}

nav.FourQL_menu ul li ul li {
    padding:3px 0;

}


/* THIRD LEVEL */

nav.FourQL_menu ul li ul li ul {
    box-shadow: none;
    background-color: #c0c0c0;
    
}